doctype html
html
  head
    title Title
    link(href='/css/main.css', rel='stylesheet')
  body(ng-app="tsfs")
    .container
      div(ui-view)
      a(ui-sref="state1") State 1
      a(ui-sref="state2") State 2
      script(src="js/vendor.js")
      script(src="js/main.js")
