h3 List of State 1 Items
form(ng-submit="vm.addDemo()")
  label(for="newDemo_name") Name:
  input(type="text", id="newDemo_name", ng-model="vm.newDemo.name")
  input(type="submit")
table.table.table-striped
  tbody
    tr(ng-repeat="demo in vm.demos")
      td {{ $index }}
      td
        input(type="text", ng-model="demo.name")
      td
        a(ng-click="vm.updateDemo(demo)") U
      td
        a(ng-click="vm.removeDemo(demo)") X
